{% extends 'base.html.twig' %}

{% block title %}LOL Tracker
{% endblock %}

{% block body %}
	<div class="container mt-5 pt-5 justify-content-between">
		<div class="mt-5 pt-5">
		<h1 class="mt-5 pt-5">Find your summoner name</h1>
			<form class="d-flex mt-5 pt-5" method="post" id="search-form">
				<input class="form-control me-2" type="search" name="name" placeholder="riot id" aria-label="Search">
				<input class="form-control me-2" type="search" name="tag" placeholder="tag" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Buscar</button>
			</form>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		document.getElementById('search-form').addEventListener('submit', function (event) {
event.preventDefault();

// Obtener los valores seleccionados del formulario
var formData = new FormData(this);
if (formData.get('name') === "" && formData.get('tag') === "") {
alert('Por favor ingresa un nombre de invocador. y/o tag');
window.location.href = window.location.href;
return;
}
// Obtener la URL de la ruta de destino
var url = '{{ path('app_league_of_legends_summonername') }}?' + new URLSearchParams(formData).toString();

// Redirigir a la URL
window.location.href = url;


});
	</script>

{% endblock %}
