{% extends 'base.html.twig' %}

{% block title %}MongoGG
{% endblock %}

{% block body %}
	<!-- Page Content-->
	<section>
		<div class="container">
			<div
				class="row justify-content-between align-items-center vh-100">
				<!-- Botones -->
				<div class="col-lg-6 d-flex justify-content-start">
					<a href="{{path('app_valorant')}}" class="btn btn-primary m-2">VALORANT</a>
					<a href="{{path('app_league_of_legends')}}" class="btn btn-secondary m-2">LEAGUE OF LEGENDS</a>
					<a href="{{path('app_fortnite')}}" class="btn btn-success m-2">FORTNITE</a>
				</div>
				<!-- Título y Eslogan -->
				<div class="col-lg-6">
					<div class="text-center text-white">
						<h1 class="mb-4">MongoGG</h1>
						<p class="lead">Trackea tus partidas, encuentra información sobre diferentes juegos y jugadores.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
