{% extends 'base.html.twig' %}

{% block title %}New Account
{% endblock %}

{% block body %}
	<div class="container text-center alert alert-primary" role="alert" style="padding: 8px;">
		<strong style="font-size: 20px;">IMPORTANT! </strong>
		<strong style="font-size: 12px;"> FOR LEAGUE OF LEGENDS ACCOUNT PUT NAME AND TAG</strong>
	</div>
	<div class="container pt-5 mt-5 text-center text-white">
		<h1 class="mb-5">ADD NEW ACCOUNT</h1>
		{{ include('cuentas/_form.html.twig') }}

		<a href="{{ path('app_cuentas_index') }}" class="btn btn-secondary">Back to Accounts</a>

	</div>
{% endblock %}
