{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5 text-center">
    <div class="row row-cols-1 row-cols-md-6 g-4 align-items-center">
        {% for tarjeta in tarjetas %}
        <div class="col text-center">
            <div class="card bg-dark text-center" style="max-width: 130px;">
                <img src="{{ tarjeta.displayIcon }}" class="card-img-top mx-auto mt-3" alt="{{ tarjeta.displayName }}" style="height: 100px; width: 100px;">
                <div class="card-body text-center p-2 rounded ">
                    <h5 class="card-title text-white text-center ">{{ tarjeta.displayName }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

